* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 50vh;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.counter {
    width: 500px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    background: skyblue;
}

.counter h3 {
align-items: center;
    text-align: center;
}

.addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    text-align: center;
}

.counter1 button {
    margin-bottom: 20px;
}

.counter>* {
    height: 100%;
    flex: 1;
    font-size: 30px;
}
